body {
    background:black;
    color:lightgreen;
}
input{
    background:rgba(100,100,100,0.1);
    color:yellow;
    border:none;
    padding:2vw;
    font-weight:bold;
    font-size:7vw;
    width:30vw;
    border-radius:1vw;
}
button{
    background:steelblue;
    color:black;
    border:1px solid red;
    padding:2vw;
    font-weight:bold;
    font-size:7vw;
    border-radius:2vw;
}
#stop{
    background:yellow;
    color:red;
    border:1px solid red;
    padding:2vw;
    font-weight:bold;
    font-size:7vw;
    border-radius:2vw;
}


nav{
    color:gray;
    padding:2vw;
    background:rgba(0,150,200,0.1);
    font-weight:bold;
    font-size:9vw;
}
#di1{
    background:rgba(0,150,200,0.1);
    padding:5vw;
    border-radius:3vw;
}
